body {
    min-width: 1160px;
    margin: 0;
    padding: 0;
    
    color: #283136;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto", "Arial", sans-serif;
    
    background-color: #ffffff;   
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    display: inline-block;
    padding: 16px 40px;
    
    font:inherit;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    
    background-color: #fb565a;
    border: none;
    border-radius: 5px;
    
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
    width: 100%;
    
    background-color: #eeeeee;
}

.main-nav {
    display: flex;
    
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 50px;
    
    color: #000000;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    
    background-color: #eeeeee;
} 

.logo-img {
    width: 160px;
    height: 65px;
    margin-right: 140px;
}  

.logo-img:hover,
.logo-img:focus {
    opacity: 0.8;
}

.logo-img:active {
    opacity: 0.3;
}

.site-nav,
.user-nav {
    list-style: none;
}

.site-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    width: 440px;
    margin: 0;
    padding: 0 60px;
}

.user-nav {
    display: flex;
    flex-wrap: wrap;
    
    max-width: 160px;
    margin: 0;
    margin-left: auto;
    padding: 0;
}

.site-nav a,
.user-nav a {
    display: block;
    padding-top: 25px;
    padding-bottom: 5px;
    
    color: #000000;
}

.site-nav a:hover,
.site-nav a:focus,
.user-nav a:hover,
.user-nav a:focus {
    color: #fb565a;
}

.site-nav a:active,
.user-nav a:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-nav a {
    position: relative;
    padding-left: 41px;
}

.user-nav a::before {
    content: "";
    
    position: absolute;
    left: 0;
    bottom: 13px;
    
    width: 15px;
    height: 15px;
    
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.site-nav-current {
    position: relative;
}

.site-nav-current::after {
    content: "";
    
    position: absolute;
    bottom: 5px;
    
    width: 100%;
    height: 2px;
    
    background-color: #fb565a;
}

.promo {
    position: relative;
    
    width: 1160px;
    height: 430px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 0;
    
    list-style: none;
}

.slider-bulets {
    position: absolute;
    bottom: 100px;
    left: 50%;
    z-index: 10;
    
    width: 240px;
    height: 18px;
    margin-left: -120px;
    
    text-align: center; 
}

.slider-bulets label {
    display: inline-block;
    
    width: 4px;
    height: 4px;
    margin: 0 11px;
    
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #ffffff;
    
    cursor: pointer;
}

#bul-1:checked ~ .slider-bulets label[for="bul-1"],
#bul-2:checked ~ .slider-bulets label[for="bul-2"],
#bul-3:checked ~ .slider-bulets label[for="bul-3"] { 
    border: 2px solid #c1c1c1;
}

#bul-1:focus ~ .slider-bulets label[for="bul-1"],
#bul-2:focus ~ .slider-bulets label[for="bul-2"],
#bul-3:focus ~ .slider-bulets label[for="bul-3"] {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.slider {
    width: 1160px;
    height: 430px;
        
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.slide {
    position:absolute;
    top:0;
    left:0;
    
    width:100%;
    height:100%;
    
    overflow:hidden;
}

.slider-text {
    width: 520px;
    padding: 78px 0 80px;
}

.slider-caption {
    display: block;
    
    width: 520px;
    margin: 0;
    padding: 0;
    margin-bottom: 26px;
    
    color: #000000;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
}

.slider-text p {
    width: 370px;
    
    margin: 0;
    padding: 0;
    margin-bottom: 38px;
    
}

.slider-button {
    padding: 16px 54px;
}

.slide:nth-child(1) {
    background-image: url("../img/slide-1.png");
    background-repeat: no-repeat;
    background-position: 431px 100%;
}

.slide:nth-child(2) {
    background-image: url("../img/slide-2.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.slide:nth-child(3) {
    background-image: url("../img/slide-3.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.slide{
    display:none;
}

#bul-1:checked ~ .slider .slide:nth-child(1) { 
    display: block;
}

#bul-2:checked ~ .slider .slide:nth-child(2) { 
    display: block;
}

#bul-3:checked ~ .slider .slide:nth-child(3) { 
    display: block;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.services {
    border-bottom: 2px solid #eeeeee;
}

.services-list {
    list-style: none;
    
    display: flex;
    flex-wrap: wrap;
    
    margin: 0;
    padding: 0;
}

.services-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width: 300px;
    margin-bottom: 80px;
    margin-right: 100px;
    
    text-align: left;
}

.services-item:nth-child(3n) {
    margin-right: 60px;
}

.services-item img {
    order: -1;
    
    margin-bottom: 26px;
}

.services-item h3 {
    margin: 0;
    margin-bottom: 14px;
    padding: 0;
    
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}

.services-item p {
    margin: 0;
    margin-bottom: 33px;
    padding: 0;
    
    width: 260px;
}

.services-item a {
    color: #ffffff;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}

.services-button-green {
    background-color: #00ca74;
}

.services-button-green:hover,
.services-button-green:focus {
    background-color: #00bc6c;
}

.services-button-green:active {
    background-color: #00aa62;
}

.services-button-yellow {
    background-color: #efc84a;
}

.services-button-yellow:hover,
.services-button-yellow:focus {
    background-color: #eab534;
}

.services-button-yellow:active {
    background-color: #e5a722;
}

.about-section {
    display: flex;
    justify-content: space-between;
    
    margin: 0;
    padding: 75px 0 72px;
    
    border-bottom: 2px solid #eeeeee;
}

.about {
    width: 670px;
}

.about-lead {
    display: block;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    
    
    color: #000000;
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
}

.about p {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}

.about-list-legend,
.advantages-legend {
    display: block;
    margin: 0;
    padding: 0;
    
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
}

.about-list {
    list-style: none;
    
    margin: 0;
    padding: 0;
}

.about-list-legend {
    margin-bottom: 23px;
}

.about-list-item {
    position: relative;
    
    margin: 0;
    padding: 0;
    padding-left: 36px;
    
}

.about-list-item::before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -2px;
    
    width: 25px;
    height: 2px;
    background-color: #fb565a;    
}

.about-list-item:not(:last-child) {
    margin-bottom: 25px;
}

.advantages {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    width: 360px;
    margin-top: -35px;
}

.advantages img {
    margin-bottom: 36px;
}

.advantages-list {
    width: 360px;
    
    border-collapse: collapse;
}

.advantages-legend {
    margin-bottom: 25px;
    align-self: center;
}

.advantages-value {
    color: #000000;
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
}

.advantages-value span {
    vertical-align: super;
    
    font-size: 25px;
    line-height: 25px;
}

.advantages-list td {
    margin: 0;
    padding: 15px 0;
    padding-right: 23px;
}

.advantages-name td {
    padding: 6px 0 0;
    
    font: inherit;
    font-size: 16px;
    line-height: 18px;
}

.partners {
    margin-bottom: 80px;
    
    border-bottom: 2px solid #eeeeee;
}

.partners-list {
    list-style: none;
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    margin: 0;
    padding: 0;
}

.partners-list li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 300px;
    min-height: 180px;
}

.partners-list li:first-child,
.partners-list li:nth-child(4n),
.partners-list li:nth-child(4n+1) {
    width: 280px; 
}

.partners-list li:not(:nth-child(4n))::after {
    content: "";
    
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -26px;
    
    width: 2px;
    height: 52px;
    
    background-color: #eeeeee;
}

.partners-logo {
    opacity: 0.2;
}

.partners-logo:hover,
.partners-logo:focus {
    opacity: 1;
}

.partners-logo:active {
    opacity: 0.1;
}

/*.contacts {
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 416px;
}*/

.contacts {
    position: relative;
}

.contacts-container {
    position: absolute;
    top: 50%;
    left: 50%;
    
    box-sizing: border-box;
    
    margin-left: -580px;
    margin-top: -154px;
    padding: 48px 50px 47px;
    
    width: 319px;
    min-height: 308px;
    
    background-color: #ffffff;
}

.map {
    display: block;
    width: 100%;
    height: 416px;
}

.contacts-title {
    display: block;
    margin: 0;
    margin-bottom: 23px;
    padding: 0;
    
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.contacts-container p {
    margin: 0;
    padding: 0;
    margin-bottom: 18px;
    
    font-size: 16px;
    line-height: 18px;
}

.contacts-button {
    box-sizing: border-box;
    width: 219px;
    
    margin-top: 20px;
    padding: 16px auto;
}

.social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    width: 1160px;
    margin: 0 auto;
    padding: 70px 20px;
}

.social-buttons {
    list-style: none;
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    width: 260px;
    margin: 0;
    padding: 0;
    margin-right: 140px;
}

.social-buttons-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 78px;
    height: 78px;
    
    border-radius: 50%;
    
    background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
    background-color: #e74246;
} 

.social-button:active img {
    opacity: 0.3;
}

.social-lead {
    display: block;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    
    color: #000000;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
}

.social-offer {
    margin: 0;
    padding: 0;
    
    font-size: 16px;
    line-height: 22px;
}

.modal {
    position: fixed;
    z-index: 100;
    
    color: #000000;
    
    background-color: #ffffff;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.modal-contact-form {
    display: none;
    
    top: 20px;
    left: 50%;
    
    width: 760px;
    margin-left: -480px;
    padding: 67px 100px 84px;
}

.modal-close {
    position: absolute;
    top: 78px;
    right: 90px;
    
    width: 21px;
    height: 21px;
    
    font-size: 0;
    
    background-color: transparent;
    background-image: url("../img/close-cross.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
    border: 0;
    
    cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.1;
}

.modal-contact-form h2 {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-text-item {
    width: 360px;
    
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.form-text-item-textarea {
    width: 760px;
    
    margin-bottom: 40px;
}

.form-text-text {
    display: block;
    
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
}

.form-text-input {
    box-sizing: border-box;
    width: 360px;
    margin: 0;
    padding: 13px 14px 15px;
    
    font: inherit;
    font-size: 16px;
    line-height: 18px;
    
    border-radius: 5px;
}

.form-text-textarea {
    box-sizing: border-box;
    width: 760px;
    
    margin: 0;
    padding: 12px 14px;
    
    font: inherit;
    font-size: 16px;
    line-height: 18px;
    
    border-radius: 5px;
}

.form-text-input[placeholder],
.form-text-textarea[placeholder] {
    font: inherit;
    color: rgba(68, 68, 68, 0.5);
    font-size: 16px;
    line-height: 18px;
    
    border: 2px solid #d7dcde;
}

.form-text-input:hover,
.form-text-textarea:hover {
    border: 2px solid #b4b9bb;
}

.form-text-input[placeholder]:focus,
.form-text-textarea[placeholder]:focus {
    color: rgba(68, 68, 68, 1);
    
    border: 2px solid #000000;
    outline: none;
}

.form-text-input[placeholder]:invalid {
    color: #e74246;
    
    border: 2px solid #e74246;
    box-shadow: none;
}

.contact-form-button {
    display: inline-block;
    
    box-sizing: border-box;
    width: 260px;
    height: 50px;
    padding: 16px auto;
}

.title-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    width: 1160px;
    margin: 0 auto 55px;
    padding: 77px 20px 108px;
}

.page-title {
    margin: 0;
    padding: 0;
    
    color: #000000;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    
    background-color: #eeeeee;
}

.catalog-container {
    display: flex;
    justify-content: space-between;
}

.filters {
    width: 260px;
}

.filter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.filter fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    margin: 0;
    margin-bottom: 27px;
    padding: 0;
    
    border: none;
}

.filter fieldset:first-of-type {
    margin-bottom: 54px;
}

.form-group legend {
    margin: 0;
    margin-bottom: 13px;
    padding: 0;
    
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.form-group:first-child legend {
    margin: 0;
    margin-bottom: 48px;
    padding: 0;
}

.range-scale {
    position: relative;
    
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 39px 20px;
    
    width: 260px;
    height: 80px;
    
    background-color: #eeeeee;
    border-radius: 5px;
}

.range-scale .scale {
    height: 2px;
    
    background-color: #d7dcde;
}

.scale .bar {
    width: 70%;
    height: 100%;
    
    background-color: #00ca74;
}

.toggle {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    
    width: 20px;
    height: 23px;
    
    background-image: url("../img/filter-button.svg");
    
    cursor: pointer;
}

.toggle-min {
    left: 18px;
}

.toggle-max {
    left: 160px;
}

.price-scale {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.price-input {
    margin: 0;
    padding: 0;
    
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

.price-input input {
    margin: 0;
    margin-left: 9px;
    padding: 0 5px;
    
    box-sizing: border-box;
    width: 80px;
    height: 38px;
    
    text-align: center;
    vertical-align: middle;
    
    background-color: #eeeeee;
    border: none;
    border-radius: 5px;
}

.form-text {
    margin: 0;
    padding: 0;
    
    line-height: 20px;
}

.form-radio-item,
.form-checkbox-item {
    position: relative;
    
    padding-left: 36px;
    
    cursor: pointer;
}

.form-radio-item {
    margin-bottom: 16px;
}

.form-checkbox-item {
    margin-bottom: 17px;
}

.form-radio-item:hover .form-text,
.form-radio-item:focus .form-text,
.form-checkbox-item:hover .form-text,
.form-checkbox-item:focus .form-text {
    color: #000000;
}


.form-group input:disabled ~ .form-text {   
    opacity: 0.3;
}

.radio-indicator {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 25px;
    height: 25px;
    
    background-image: url("../img/radio-off.svg");
    opacity: 0.4;
}

.form-radio-item input[type="radio"]:checked + .radio-indicator {
    background-image: url("../img/radio-on.svg");
}

.checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 23px;
    height: 23px;
    
    background-image: url("../img/checkbox-off.svg");
    opacity: 0.4;
}

.form-checkbox-item input[type="checkbox"]:checked + .checkbox-indicator {
    width: 27px;
    background-image: url("../img/checkbox-on.svg");
}

.form-group input:hover ~ .form-indicator,
.form-group input:focus ~ .form-indicator {
    opacity: 1;
}

.form-group input:disabled ~ .form-indicator {   
    opacity: 0.1;
}

.form-group input:focus ~ .form-indicator {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.filter-button {
    color: #000000;
    
    background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
    background-color: #dfdfdf;
}

.filter-button:active {
    color: rgba(0, 0, 0, 0.3);
        
    background-color: #d5d5d5;    
}

.catalog {
    width: 760px;
}

.assortment {
    position: relative;
    
    display: flex;
    flex-wrap: wrap;
     
    margin-top: 5px; 
    margin-bottom: 96px;
}

.assortment a {
    cursor: pointer;
}

.assortment-words {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
    margin-left: auto;
    
    width: 470px;
}

.assortment-icons {
    width: 90px;
}

.assortment-legend {
    margin: 0;
    padding: 0;
    
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

.assortment-type {
    margin-left: 25px;
    
    color: #000000;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    opacity: 0.3;
}

.assortment-course {
    opacity: 0.2;
}

.assortment-course-down::before {
    content: "";
    
    position: absolute;
    top:50%;
    right: 29px;
    
    margin-top: -5px;
    
    width: 11px;
    height: 10px;
    
    background-image: url("../img/icon-down-dir.svg"); 
}

.assortment-course-up::before {
    content: "";
    
    position: absolute;
    top:50%;
    right: 0;
    
    margin-top: -5px;
    
    width: 11px;
    height: 10px;
    
    background-image: url("../img/icon-up-dir.svg"); 
}

.assortment-type:hover,
.assortment-type:focus,
.assortment-course:hover,
.assortment-course:focus {
    opacity: 0.6;
}

.assortment-type:active,
.assortment-type-current,
.assortment-course:active,
.assortment-course-current {
    opacity: 1;
}

.catalog-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    margin: 0;
    padding: 0;
}

.catalog-item {
    position: relative;
    
    margin: 0;
    margin-bottom: 66px;
    padding: 0;
}

.catalog-image::before {
    content: "";
    
    position: absolute;
    top: -40px;
    left: 0;
    
    width: 360px;
    height: 40px;
    
    background-image: url("../img/browser.svg");
    opacity: 0.12;
}

.catalog-item-description { 
    position: absolute;
    bottom: 8px;
    right: 0;
    
    width: 240px;
    
    margin: 0;
    padding: 26px 60px 43px;
    
    text-align: center;
    
    background-color: #eeeeee;
    opacity: 0;
}

.catalog-item-title {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}

.catalog-item-title a {
    display: block;
    margin: 0;
    padding: 0;
    
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.catalog-item-description p {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    
    color: #666666;
    font-size: 16px;
    line-height: 18px;
}

.catalog-item:hover .catalog-item-description {
    opacity: 1;
}

.catalog-item:hover .catalog-image::before {
    opacity: 1;
}

.catalog-button {
    box-sizing: border-box;
    width: 200px;
}

.pagination-list {
    list-style: none;
    
    display: flex;
    flex-wrap: wrap;
    
    margin: -13px 0 60px;
    padding: 0;
}

.pagination-item a {
    display: inline-block;
    box-sizing: border-box;
    
    margin: 0;
    margin-right: 11px;
    
    color: #000000;
    
    background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: #dfdfdf;
}

.pagination-item a:active {
    color: rgba(0, 0, 0, 0.3);
    
    background-color: #d5d5d5;
}

.pagination-button {
    width: 260px;
}

.pagination-button-number {
    padding: 16px 10px;
    width: 50px;
    height: 50px;
}

.pagination-item-current a,
.pagination-item-current a:hover {
    padding: 13px 7px;
    
    color: #000000;
    
    background-color: #ffffff;
    border: 3px solid #dbdbdb;
    
    cursor: auto;
}



